.page {
  position: relative;
  display: flex;
  gap: 0.5rem;
  overflow: hidden;

  header {
    max-width: 300px;
    padding: 1rem 0 0 1rem;

    h1 {
      font-size: 1.25rem;
    }

    .react-icons {
      font-size: 1.4rem;
    }

    *:has(.react-icons):is(h1, a, button) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.2rem;
    }
  }

  main {
    width: min(950px, 80%);
    overflow: hidden;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .overlay {
      position: absolute;
      z-index: 10;
      background-color: hsla(0, 0%, 0%, 40%);
      width: 100dvw;
      height: 100%;
      left: 0;
      top: 0;
      display: grid;
      place-items: center;

      .overlay-container {
        width: fit-content;
        background-color: white;
        padding: 2rem;
      }
    }

    .selected-friend {
      background-color: hsla(128, 38%, 70%, 40%);
    }
  }
}

@media (max-width: 850px) {
  .page {
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;

    .sidebar-toggler {
      display: none;
    }

    header {
      display: flex;
      padding: 0 1rem;
      max-width: 100%;
      justify-content: space-between;
      align-items: center;

      .react-icons {
        font-size: 2rem;
      }

      h1 {
        margin: 0;
      }

      nav {
        width: 100%;
        ul {
          width: 100%;
          flex-direction: row;
          justify-content: space-around;
        }
      }
      .lg-screen-only {
        display: none;
      }
    }

    main {
      width: 90%;
    }
  }
}
