.page {
  position: relative;
  display: flex;
  gap: 0.5rem;
  padding: 1rem 0 0;

  header {
    max-width: 300px;
    padding: 1rem 0 0 1rem;
  }

  main {
    width: min(850px, 90%);
    overflow: hidden;
    padding-left: 1.5rem;
  }
}

