.room {
  display: block;
  overflow: hidden;
  max-height: 100%;

  .chat {
    height: 80vh;
    height: 80dvh;
    overflow-y: scroll;
    overflow-x: hidden;

    scrollbar-width: 2px;
    &::-webkit-scrollbar {
      width: 2px;
    }

    .message {
      margin: 0.75rem 0;
      padding: 0.2rem 0.5rem;
      border-radius: 5px;
      max-width: 400px;
      p {
        margin: 0;
        font-weight: 600;
      }
      &.me {
        margin-left: auto;
        background-color: hsla(0, 4%, 44%, 0.6);
      }
      &.not-me {
        background-color: hsla(0, 91%, 43%, 0.6);
      }
    }
  }
}

