.auth-form {
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    width: min(80%, 500px);
    margin: 0 auto;
  }
}

